$white: #fff;
$black: #000;
$lightBlue: #f1f1fd;
$darkBlue: #202142;
$pink: #ff6a95;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: $lightBlue;
    width: 1600px;
    height: 1200px;
    @include center;
}
.container {
    background-color: $white;
    color: $black;
    width: 1440px;
    height: 1124px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: auto;
}
/*navbar css*/
.navbar__wrapper {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__wrapperLeft {
    width: 140px;
    height: 40px;
    display: flex;
    margin-left: 50px;
    align-items: center;
    gap: 5px;
}
.navbar__wrapperMenu {
    width: fit-content;
    height: 44px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__wrapperRight {
    width: 195px;
    height: 54px;
    display: flex;
    margin-right: 49px;
    margin-bottom: 2px;
}
.logo {
    height: 100%;
}
.navbar__wrapperMenu-parts {
    min-width: fit-content;
    list-style: none;
    a {
        text-decoration: none;
    }
}
.navbar__wrapperRight-login {
    width: 75px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.navbar__wrapperRight-signUp {
    background-color: $darkBlue;
    color: $white;
    text-decoration: none;
    width: 120px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    text-align: center;
}
/*header css*/
.header {
    background-color: #fcfcff;
    width: 100%;
    height: 427px;
}
.header--day {
    background-color: $white;
    @include center;
    width: 106px;
    height: 40px;
    border-radius: 10px;
    color: $pink;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 50px;
}
.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    label {
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        line-height: 27px;
        width: 580px;
        height: 54px;
        text-align: center;
    }
}

.header__wrapper--search {
    background-color: $white;
    @include center;
    flex-direction: row;
    width: 651px;
    height: 74px;
    border-radius: 10px;
    border: 1px solid #efefff;
    box-shadow: 0px 16px 35px -15px #02058426;
    img {
        width: 34px;
        height: 34px;
        display: flex;
        align-self: center;
        opacity: 0.6;
    }
    input {
        display: flex;
        flex: 1;
        border: none;
        border-radius: 10px;
    }
}
.header__wrapper--dropdown {
    width: 165px;
    height: 54px;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    @include center;
    //position: relative;
    border-right: 1px solid #efefff;
    display: inline-block;
    button {
        cursor: pointer;
        border: none;
        background-color: $white;
        label {
            font-size: 14px;
            font-weight: 600;
            line-height: 20.08px;
            display: flex;
            align-self: center;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    a {
        display: none;
        text-decoration: none;
    }
}
.header__wrapper--dropdown:hover {
    a {
        display: block;
        background-color: $white;
        color: $black;
    }
    a:hover {
        background-color: $lightBlue;
    }
}

.header__wrapper--search button {
    width: 165px;
    height: 54px;
    @include center;
    align-items: flex-start;
    padding: 11px 15px;
    gap: 10px;
}
.header__wrapper--area input {
    border-width: 1px solid #efefff;
    border-radius: 10px;
}

/*content css*/
.content {
    background-color: $white;
    width: 100%;
    flex: 1;
    margin-top: 40px;
}
.content__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content__navbarLeft {
    margin-left: 50px;
    width: 236px;
    height: 61px;
    background-color: $lightBlue;
    border-radius: 70px;
    gap: 10px;
    padding: 5px;
    border: 1px solid #efefff;
    @include center;

    div {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.08px;
    }
}
.content__navbarMenu {
    width: 352px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        justify-content: flex-start;
    }
    li {
        list-style: none;
        background-color: $white;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
}
.content__navbarRight {
    width: 365px;
    height: 61px;
    // background-color: lemonchiffon;
    display: flex;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        height: 100%;
        flex: 1;
        gap: 15px;
        padding: 0%;
        margin: 0%;
    }
    li {
        // background-color: $lightBlue;
        @include center;
        width: 61px;
        height: 61px;
        border-radius: 70px;
        border: 1px solid $pink;
        border-color: rgba(0, 0, 0, 0.1);
    }
    img {
    }
}
.content__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.content__wrapper--div {
    width: 425px;
    height: 319px;
    justify-content: space-between;
    flex-direction: column;
}
.content__wrapper--div-logo {
    position: absolute;
    background-color: $white;
    width: 61px;
    height: 61px;
    @include center;
    border-radius: 70px;
    margin-top: 20px;
    margin-left: 20px;
    img {
        width: 29px;
        height: 29px;
    }
}
.content__wrapper--by {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.content__wrapper--by-parts {
    min-height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.content__wrapper--by-fav {
    height: 100%;
}
.g-5 {
    gap: 5px;
}
.ml-20 {
    margin-left: 20px;
}
